#timeline {
  border: 1px solid #999999;
  border-radius: 4px;
  width: 800px;
  padding: 15px;
}

#timeline svg {
  background-color: #ffffff;
}

.uiContainer button {
  font-size: 14px;
  min-width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #dedede;
  color: #333333;
  margin: 0 4px;
  user-select: none;
  transition: all .2s ease-out;
}

.uiContainer button:first-child {
  margin-left: 0;
}

.uiContainer button:hover {
  background-color: #dedede;
}

.uiContainer button:focus {
  outline:0;
  background-color: #dedede;
  border: 1px solid #999999;
}

.tick line {
  opacity: 0.2;
  stroke-dasharray: 4, 4;
}

.lineContainer0 .line {
  fill: none;
  stroke: #FF1493;
  stroke-width: 2px;
  opacity: 0.8;
}

.lineContainer1 .line {
  fill: none;
  stroke: #998CE3;
  stroke-width: 2px;
  opacity: 0.8;
}

.barContainer0 {
  fill: #6AEDC7;
  opacity: 0.5;
}

.barContainer1 {
  fill: #ffe100;
  opacity: 0.5;
}

.level1 {
  fill: #EFF2F5;
  stroke: none;
}

.level2 {
  fill: #FFCE00;
  stroke: none;
}

.level3 {
  fill: #FFA71A;
  stroke: none;
}

.level4 {
  fill: #F866B9;
  stroke: none;
}

.level5 {
  fill: #F340A5;
  stroke: none;
}

.labelContainer {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: "middle";
}

.overlayContainer {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: "left";
}

.toolTip {
  opacity: 0.6;
}

.savedToolTip {
  opacity: 1;
}

.focusLine {
  fill: none;
  stroke: #666;
}

.focusPoint {
  fill: white;
  stroke: #000;
}

.axisX path {
  stroke: #666;
}

.axisY path {
  stroke: #666;
}

.label, .axisX text, .axisY text {
  fill: #666;
}
