.tick line {
  opacity: 0.2;
  stroke-dasharray: 4, 4;
}

.lineContainer0 .line {
  fill: none;
  stroke: #FF1493;
  stroke-width: 2px;
}

.lineContainer1 .line {
  fill: none;
  stroke: #005AFF;
  stroke-width: 2px;
}

.barContainer0 {
  fill: #2ecfff;
}

.barContainer1 {
  fill: #ffe100;
}

.level2 {
  fill: #eaeaea;
  stroke: none;
}

.level4 {
  fill: #ff0;
  stroke: none;
}

.level5 {
  fill: #f3c;
  stroke: none;
}

.labelContainer {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: "middle";
}

.overlayContainer {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: "left";
}

.focusLine {
  fill: none;
  stroke: #666;
}

.focusPoint {
  fill: none;
  stroke: #000;
}

.checkedLine {
  fill: none;
  stroke: #333;
}
