.tick line {
  opacity: 0.2;
}

.lineContainer0 .line {
  fill: none;
  stroke: #FF1493;
  stroke-width: 2px;
}

.lineContainer1 .line {
  fill: none;
  stroke: #005AFF;
  stroke-width: 2px;
}

.barContainer0 {
  fill: #2ecfff;
}

.barContainer1 {
  fill: #ffe100;
}

.level2 {
  fill: #eaeaea;
  stroke: none;
}

.level4 {
  fill: #ff0;
  stroke: none;
}

.level5 {
  fill: #f3c;
  stroke: none;
}

.focusLine {
  fill: none;
  stroke: #000;
  stroke-dasharray: 3;
}

.focusPoint {
  fill: none;
  stroke: #000;
}

.checkedLine {
  fill: none;
  stroke: #333;
}
