.tick line {
  opacity: 0.2;
}

.lineContainer .line {
  fill: none;
  stroke: #FF1493;
  stroke-width: 2px;
}

.lineContainer2 .line {
  fill: none;
  stroke: #005AFF;
  stroke-width: 2px;
}

.barContainer {
  fill: #9AF15A;
}

.barContainer2 {
  fill: #FFE100;
}

.level2 {
  fill: #ccc;
  stroke: none;
}

.level4 {
  fill: #ff0;
  stroke: none;
}

.level5 {
  fill: #f00;
  stroke: none;
}

.
